body {
    font-size: 18px;
}

h1{
    font-size: 26px;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    box-shadow: 0px 5px 5px -5px rgb(34 60 80 / 60%);
    padding: 15px 0 0;
    margin-bottom: 40px;
}

.header-menu {
    margin-top: 15px;
}

.navbar {
    padding-right: 0;
    padding-left: 0;
}

.all-logo {
    display: flex;
    align-items: center;
}

.header-inner {
    align-items: center;
}

.logo {
    margin: auto;
}

@media (max-width: 767px) {
    .logo {
        order: 1;
    }
}

@media (min-width: 768px) {
    .logo img {
        height: 100px;
        max-width: inherit;
    }
}

.name-of-conferenc h1 {
    padding: 0 10px;
    color: #34742E;
    text-align: center;
    margin: 0;
    font-size: 24px;
}

.cover-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cover-container .cover-img {
    max-width: 300px;
}

@media (max-width: 767px) {
    .name-of-conferenc {
        order: 3;
        padding-top: 10px;
    }
    .cover-container {
        flex-direction: column;
    }
    .cover-container .cover-img {
        max-width: 100%;
    }
}
